body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: red;
  /* background-image: url('https://source.unsplash.com/1600x900/?landscape'); */
  font-size: 110%;
}

.card {
  background:rgb(236, 183, 181);
  color: rgb(3, 2, 2);
  padding: 2em;
  border-radius: 50px;
  width: 50%;
  max-width: 420px;
  margin: 1em;
  opacity:initial;
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: rgb(226, 15, 15);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #c022222b;
  color: rgb(255, 0, 0);
  font-family: inherit;
  font-size: 100%;
  width: calc(100% - 100px);
}

button:hover {
  background: #0303036b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display:contents;
  align-items: center;
  padding: 80px;
}

.description {
  text-indent: 0%;
 text-decoration: solid;
 color: rgb(231, 22, 7);
 text-transform: capitalize;
 margin-left: 8px;
}

.weather.loading {
  visibility:visible;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

/* Media Queries only Screen */

@media only screen and (max-with = 600px) {
  .card{
    margin-top: 100%;
    font-size: 16px;
  }

/* .weather.loading{
    margin-top: 100%;
    font-size: 16px;
  }

     .weather.loading:after{
    margin-top: 100%;
    font-size: 16px;
  } */
  
  .flex{
    margin-top: 100%;
    font-size: 16px;
  }
  /* .search{
    margin-top: 100%;
    font-size: 16px;
  }
  .description{
    margin-top: 100%;
    font-size: 16px;
  } */
}









































/*  BMI CSS goes here */


/* 

.form {
  background-color: rgb(223, 7, 7);
  height: 240px;
  width: 450px;
  border-radius: 20px;
  margin: 20px auto 20px auto;
  display: block;
  border: solid 1px #289df6;
  box-shadow: 0 0 40px 0 #ddd;
}
.form:hover {
  box-shadow: 0 0 60px 0 #ccc;
  transition: 0.4s;
  transform: scale(1.02);
}
.row-one {
  padding: 20px;
}
.row-two {
  padding: 20px;
}

#submit {
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 140px;
  background-color: #289df6;
  color: #fff;
  margin: auto;
  display: block;
  outline: none;
  cursor: pointer;
 */


/* * {
    font-family: Quicksand;
    font-size: 16px;
    color: #333;
}
body {
    margin: 0;
    height: 100vh;
    padding: 0;
    border: 0;
    background: linear-gradient(to bottom right, #F1F2B5, #eef2f3);
}
.form {
    background-color: #fff;
    height: 240px;
    width: 450px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    display: block;
    border: solid 1px #289df6;
    box-shadow: 0 0 40px 0 #ddd;
}
.form:hover {
    box-shadow: 0 0 60px 0 #ccc;
    transition: 0.4s;
    transform: scale(1.02);
}
.row-one {
    padding: 20px;
}
.row-two {
    padding: 20px;
}
.text-input {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: #dbeffe;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}
.text-input:last-child {
    margin-bottom: 35px;
}
.text-input:hover {
    background-color: #cbe7fd;
}
#submit {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    background-color: #289df6;
    color: #fff;
    margin: auto;
    display: block;
    outline: none;
    cursor: pointer;
}
#submit:hover {
    background-color: #0a8ef2;
}
.text {
    display: inline-block;
    margin: 5px 20px 5px 8px;
}
.row-one {
    padding: 30px 20px 15px 20px;
}
.row-two {
    padding: 15px 20px 30px 20px;
}
.container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dbeffe;
    border-radius: 50%;
}
.container:hover input ~ .checkmark {
    background-color: #cbe7fd;
}
.container input:checked ~ .checkmark {
    background-color: #289df6;
}
h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #289df6;
    padding-top: 15px;
    display: block;
}
h2 {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}
h3 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
}
h3 b {
    font-size: 32px;
    font-weight: 300;
    color: #289df6;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
} */